mixin menubar

  script.
    $(document).ready(
      function()
      {

        $("#menu ##{page}").addClass("active");
      }
    );

  .row(id="menubar")
    .col-sm-4
    .col-sm-4
      ul(class="nav nav-tabs" id="menu")
        li(role="presentation" id="about")
          a(href="/about") About
        li(role="presentation" id="dashboard")
          a(href="/dashboard") Dashboard
    .col-sm-4
    .row

mixin live_table

  .row(id="measurements")
    .col-sm-4
    .col-sm-4
      each device in devList
        div(class="panel panel-primary #{device.id}")
          .panel-heading Device #{device.id}
          .panel-body
            table(class="table table-hover")
              caption Location: #{device.loc}
              thead
                tr
                  th Measurement target
                  th Sensor
                  th Value
                  th MsgCount
              tbody
                each measurement in device.measurements
                  tr(class="#{measurement.place}")
                    td #{measurement.place}
                    td #{measurement.quantity}
                    td(id="#{measurement.quantity}") 0
                    td(id="#{measurement.quantity}Count") 0
      div(class="well well-sm")
        |Last update : 
        span(id="timestamp")
          | n/a
    .col-sm-4
