extends main.jade

append body
  div(ng-app="Liveboard" ng-controller="LiveboardController")
    br
    .row(id="measurements")
      .col-sm-3
      .col-sm-6
        each device in devList
          div(class="panel panel-primary #{device.status}")
            div(class="panel-heading #{device.status}") Device #{device.id}
            div(class="panel-body #{device.status}")
              table(class="table table-condensed table-hover invisible" ng-class='{"invisible": !tablesLoaded}')
                caption Location: #{device.loc}
                thead
                  tr
                    th Measurement
                    th Value
                    th MsgCount
                tbody
                  each measurement in device.measurements
                    tr
                      td #{measurement.description}
                      td(id="#{measurement.quantity}") {{devSpecList['#{device.id}'].measurements['#{measurement.place}']['#{measurement.quantity}'].value}}
                      td(id="#{measurement.quantity}Count") {{devSpecList['#{device.id}'].measurements['#{measurement.place}']['#{measurement.quantity}'].msgCount}}
              div(class="well well-sm")
                |Last update :
                span(id="timestamp")
                  | {{lastTimestamp}}
              canvas(id="#{device.id}-chart-temppress" width="900" height="300")
              canvas(id="#{device.id}-chart-humid" width="900" height="300")
      .col-sm-3

append styles
  link(rel="stylesheet", href="dashboard.css")
  link(rel="stylesheet", href="c3.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")

append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.6/fabric.min.js")
  script(src="liveboard/liveboard.module.js")
  script(src="liveboard/liveboard.dataprovider.js")
  script(src="liveboard/liveboard.devicelist.js")
  script(src="liveboard/liveboard.TempPressChart.js")
  script(src="liveboard/liveboard.HumidChart.js")