extends main.jade

append body
  div(ng-app="Liveboard" ng-controller="LiveboardController")
    br
    .row(id="measurements")
      .col-sm-4
      .col-sm-4
        each device in devList
          div(class="panel panel-primary")
            .panel-heading Device #{device.id}
            .panel-body
              table(class="table table-hover")
                caption Location: #{device.loc}
                thead
                  tr
                    th Measurement target
                    th Sensor
                    th Value
                    th MsgCount
                tbody
                  each measurement in device.measurements
                    tr
                      td #{measurement.place}
                      td #{measurement.quantity}
                      td(id="#{measurement.quantity}") {{devSpecList['#{device.id}']['#{measurement.place}']['#{measurement.quantity}'].value}}
                      td(id="#{measurement.quantity}Count") {{devSpecList['#{device.id}']['#{measurement.place}']['#{measurement.quantity}'].msgCount}}
          div(id="#{device.id}-chart" width="900" height="600")
        div(class="well well-sm")
          |Last update :
          span(id="timestamp")
            | {{lastTimestamp}}
      .col-sm-4

append scripts
  script(src="liveboard/liveboard.module.js")
  script(src="liveboard/liveboard.dataprovider.js")
  script(src="liveboard/liveboard.devicelist.js")
  script(src="liveboard/liveboard.create-chart.js")
  script(src="https://d3js.org/d3.v3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js")
  link(href="c3.min.css"  rel="stylesheet" type="text/css")
