extends ../../node_modules/jade-bootstrap/_bootstrap

append body

  .row(id="measurements")
    .col-sm-4
    .col-sm-4
      each device in devList
        div(class="panel panel-primary")
          .panel-heading Device #{device.id}
          .panel-body
            table(class="table table-hover")
              caption Location: #{device.loc}
              thead
                tr
                  th Measurement target
                  th Sensor
                  th Value
                  th MsgCount
              tbody
                each measurement in device.measurements
                  tr(id="#{measurement.place}")
                    td #{measurement.place}
                    td #{measurement.quantity}
                    td(id="#{measurement.quantity}")
                    td(id="#{measurement.quantity}Count")
      div(class="well well-sm")
        |Last update : 
        span(id="timestamp")
          | n/a
    .col-sm-4
